@{
    ViewBag.Title = "Home";
}

<link href="~/Content/Home/Index.css" rel="stylesheet" />

<div class="body-content">
    <div class="jumbotron">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-12">
                <h1>Welcome to Flea Market!</h1>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    Here you can not only find different products,
                    but also track the status of the product and the price change.
                </h2>
            </div>
            <br />
            <div class="col-md-4 col-md-offset-8">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Get Start", "Dashboard", "Filter", null, new { @class = "btn btn-success btn-lg", type = "button" })
                }
                else
                {
                    @Html.ActionLink("Get Start", "SignIn", "Account", null, new { @class = "btn btn-success btn-lg", type = "button" })
                }
            </div>
        </div>
    </div>
</div>
