body {
    background-image: none;
    background-color: white;
}

.panel-primary {
    margin-top: 40px;
}

.row {
    margin-top: 30px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #2e2e2e;
    color: white;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr {
    margin-top: 5px;
}

.dark {
    background-color: #2E2E2E;
}

.dark > td {
    color: white;
}