@Styles.Render("~/Content/Error");
<div class="container">
    <div class="text-error">
        <h1>A error accurred</h1>
        <h2>Exception details:</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>