@Styles.Render("~/Content/Error");
<body class="error-page">
    <div class="col-md-4 col-md-offset-6 text-danger">
        <h1>We will back soon</h1>
        <h2 class="error-page-font">@ViewBag.Message</h2>
    </div>
</body>
