@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="alert alert-success">
        <strong>Success!</strong> Your account has been activated successfully. Click here to @Html.ActionLink("SignIn", "SignIn", "Account")
    </div>
</body>
</html>
